[project]
	description = this is a java project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trblr
[access "refs/for/refs/*"]
	read = group user/trblr
	push = group user/trblr
	label-Code-Review = -2..+2 group user/trblr
	label-Verified = -1..+1 group user/trblr
	rebase = group user/trblr
	removeReviewer = group user/trblr
	submit = group user/trblr
[access "refs/heads/*"]
	read = group user/trblr
	create = group user/trblr
	push = +force group user/trblr
	pushMerge = group user/trblr
[access "refs/tags/*"]
	push = group user/trblr
	push = +force group user/trblr
